:root {
  font-family: "Poppins", sans-serif;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

*,
:before,
:after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  min-height: 100vh;
}

#root {
  min-height: 100vh;
}

a {
  color: inherit;
  text-decoration: none;
}

button,
select {
  text-transform: none;
}

button,
[role="button"] {
  cursor: pointer;
}

button {
  background-color: transparent;
  border: none;
}

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  line-height: inherit;
  color: inherit;
  margin: 0;
  padding: 0;
}

.loader {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  display: block;
  margin: 15px auto;
  position: relative;
  color: #000;
  left: -100px;
  box-sizing: border-box;
  animation: shadowRolling 2s linear infinite;
}

@keyframes shadowRolling {
  0% {
    box-shadow: 0px 0 rgba(0, 0, 0, 0), 0px 0 rgba(0, 0, 0, 0),
      0px 0 rgba(0, 0, 0, 0), 0px 0 rgba(0, 0, 0, 0);
  }
  12% {
    box-shadow: 100px 0 black, 0px 0 rgba(0, 0, 0, 0), 0px 0 rgba(0, 0, 0, 0),
      0px 0 rgba(0, 0, 0, 0);
  }
  25% {
    box-shadow: 110px 0 black, 100px 0 black, 0px 0 rgba(0, 0, 0, 0),
      0px 0 rgba(0, 0, 0, 0);
  }
  36% {
    box-shadow: 120px 0 black, 110px 0 black, 100px 0 black,
      0px 0 rgba(0, 0, 0, 0);
  }
  50% {
    box-shadow: 130px 0 black, 120px 0 black, 110px 0 black, 100px 0 black;
  }
  62% {
    box-shadow: 200px 0 rgba(0, 0, 0, 0), 130px 0 black, 120px 0 black,
      110px 0 black;
  }
  75% {
    box-shadow: 200px 0 rgba(0, 0, 0, 0), 200px 0 rgba(0, 0, 0, 0),
      130px 0 black, 120px 0 black;
  }
  87% {
    box-shadow: 200px 0 rgba(0, 0, 0, 0), 200px 0 rgba(0, 0, 0, 0),
      200px 0 rgba(0, 0, 0, 0), 130px 0 black;
  }
  100% {
    box-shadow: 200px 0 rgba(0, 0, 0, 0), 200px 0 rgba(0, 0, 0, 0),
      200px 0 rgba(0, 0, 0, 0), 200px 0 rgba(0, 0, 0, 0);
  }
}
